name: data-collection

on:
  schedule:    
  - cron: "0 0 * * *"

jobs:
  record:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: store data
      run:
        python3 gwaff.py -s

    - uses: EndBug/add-and-commit@v4
      with:
        message: "automated recording of xp data"
        add: "*"
        cwd: .
        force: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
